# Ignore node_modules directory
node_modules/

# Ignore TypeScript compilation artifacts
dist/

# Ignore environment variables file
.env

# Ignore database files
*.db

# Ignore logs
logs/

# Ignore backup files
*.bak

# Ignore .DS_Store files (Mac OS)
.DS_Store

# Ignore Visual Studio Code settings
.vscode/
